.chatMessage {
    overflow-Y: scroll;
    overflow-Wrap: break-word;
    height: 75vh;
    color: rgb(126, 197, 156);
    font-family: Impact;
}

.chatTitle {
  background-color: rgba(8, 8, 8, 0.8);
  font-family: Impact;
  color: white;
  border-color: black;
}

.navBarWrapper {
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  
  .bar {
    height: 8.02%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .bar li {
    display: inline-block;
  }

.chatForm {
    z-index: 2;
    position: fixed;
    top: 20vh;
    left: 70vw;
    height: 80vh;
    width: 30vw;
    border-radius: 4px;
    background: rgba(18, 16, 22, 0.6);
    border: 2px solid black;
    border-color: transparent;
}

.flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
}

.flex-row-wrap > * {
    flex-basis: 400px;
}

.toggleChat {
    z-index: 2;
    position: fixed;
    /* border-radius: 50%;
    background-color: rgb(6, 41, 7) ;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    /* font-size: 16px; */
    /* margin: 4px 2px; */
    top: 95vh;
    left: 95vw;
}

input[type=text] {
    width: 80%;
    font-family: Impact;
    color: rgb(83, 240, 83);
}

.event {
    /* border: 2px solid black;
    border-radius: 5px; */
    margin: 5px 8px;
    width: 375px;
}

.event-box {
    border: 3px solid grey;
    border-radius: 5px;
}

.date-box {
    border: 3px solid orangered;
    background-color: rgb(255, 175, 146);
    border-radius: 5px;
    margin: 5px 8px;
    width: 375px;
}

.pin-event {
    border: 3px solid green;
    background-color: rgb(170, 255, 170);
    border-radius: 5px;
    margin: 5px 8px;
    width: 375px;
}

.date-text {
    font-size: 20;
    font-weight: bold;
}

.sender-field {
    font-size: 20;
    color: gray;
}

.trip-header {
    align-content: center;
    text-align: center;
}